body{
    font-family: 'Special Elite', cursive;
    background-color: beige;
}
.header_div{
    background-color:white;
    color:red;
}

.header_div p{
    color:grey;
    font-size:12px;
    font-weight:bold;
    letter-spacing:2px;
    font-family: 'Anton', sans-serif;
}
.main_div button{
    font-family: 'Anton', sans-serif;
margin-top:30px;
width:130px;
font-weight:bolder;
letter-spacing:3px;
}
.copy_right_footer{
    background-color: white;
    text-align:center;
    font-family: 'Rubik Microbe', cursive;
    position:fixed;
    width:100%;
    bottom:0px;
    font-size:18px;
    line-height:3;
    text-shadow:5px 5px 5px grey;
}